Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /backend/

# Allow these directories and files to be displayed directly:
RewriteCond $1 ^(index\.php|robots\.txt|favicon\.ico|public|assets|css|js|images|uploads)
# No rewriting
RewriteRule ^(.*)$ - [PT,L]
#RewriteCond %{SERVER_PORT} !^443$
#RewriteCond %{SERVER_NAME} !^www\..*$
#RewriteRule ^(.*)$ http://www.%{SERVER_NAME}/$1 [R]
#RewriteCond %{SERVER_PORT} ^443$
#RewriteCond %{SERVER_NAME} !^www\..*$
#RewriteRule ^(.*)$ https://www.%{SERVER_NAME}/$1 [R]
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
