table{
  width: 100%;
  margin-top: 30px;

  tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DFDFDF;
    padding: 10px 0;
  }

  .label-strong{
    font-weight: 500;
  }
}
