<div class="col-md-11" style="padding-top: 80px">
  <div class="card col-md-12">
    <div class="card-header card-header-success">
      <h4 class="card-title float-left">Lista de Urls</h4>
      <div class="float-right">

        Verificando urls em <span class="time">{{minutes}}</span> Minutos <span class="time">{{seconds}}</span> Segundos

      </div>
    </div>
    <div class="card-body">


      <a [routerLink]="['/urls/new/']" routerLinkActive="router-link-active" class="mr-2 btn btn-success"
        mat-raised-button><i class="material-icons mr-3">link</i> Adicionar Url</a>

      <table>
        <thead>
          <tr>
            <td class="label-strong">#</td>
            <td class="label-strong">Titulo</td>
            <td class="label-strong" colspan="3">Status</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let url of urls">
            <td>{{ url.id }}</td>
            <td>{{ url.title }}</td>
            <td style="text-align: center;">
              <span *ngIf="url.status == 0"><i class="material-icons"
                  style="color:grey; font-size: 18px;">update</i></span>
              <span *ngIf="url.status == 1"><i class="material-icons"
                  style="color: green; font-size: 18px;">link</i></span>
            </td>
            <td>
              <span *ngIf="url.status == 1">
                <a [routerLink]="['/urls/preview/' + url.id]" title="Visualiar dados da Url"
                  alt="Visualizar dados da Url" class="btn btn-link">
                  <i class="material-icons" style="color:orange; font-size: 18px;">remove_red_eye</i> detalhes
                </a>
              </span>
            </td>

            <td>
              <a [routerLink]="['/urls/edit/' + url.id]" class="btn btn-link btn-info" title="Editar Url"
                alt="Editar Url">editar</a>
              &nbsp;
              <a class="btn btn-danger btn-link" alt="Remover Url" (click)="handleDelete(url.id)">excluir</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
