<div class="col-md-11" style="padding-top: 80px">
  <div class="card col-md-12">
    <div class="card-header card-header-success">
      <h4 class="card-title float-left">Lista de Urls</h4>
      <div class="col-md-5 float-right">
        <app-verify-status></app-verify-status>
      </div>
    </div>
    <div class="card-body">


      <a [routerLink]="['/urls/new/']" routerLinkActive="router-link-active" class="mr-2 btn btn-success"
        mat-raised-button><i class="material-icons mr-3">link</i> Adicionar Url</a>

      <table>
        <thead>
          <tr>
            <td class="label-strong">#</td>
            <td class="label-strong">Titulo</td>
            <td class="label-strong">Status</td>
            <td class="label-strong"></td>
            <td class="label-strong"></td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let url of urls">
            <td>{{ url.id }}</td>
            <td>{{ url.title }}</td>
            <td style="text-align: center;">
              <span *ngIf="url.status == 0"><i class="material-icons"
                  style="color:grey; font-size: 18px;">update</i></span>
              <span *ngIf="url.status == 1"><i class="material-icons"
                  style="color: green; font-size: 18px;">check_circle</i></span>
            </td>
            <td>
              <span *ngIf="url.status == 1">
                <a [routerLink]="['/urls/preview/' + url.id]" title="Visualiar dados da Url"
                  alt="Visualizar dados da Url">
                  <i class="material-icons" style="color:orange; font-size: 18px;">info</i>
                </a>
              </span>
            </td>

            <td>
              <a [routerLink]="['/urls/edit/' + url.id]" class="btn btn-link btn-info" matTooltip="Editar Url"
                matTooltipPosition="above" title="Editar Url" alt="Editar Url"><i class="material-icons">edit</i></a>
              &nbsp;
              <a class="btn btn-danger btn-link" matTooltip="Remover Url" matTooltipPosition="above" alt="Remover Url"
                (click)="handleDelete(url.id)"><i class="material-icons">delete_forever</i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
