<form [formGroup]="urlForm" (ngSubmit)="handleSubmit()">

  <div class="container" style="padding-top: 80px">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">EDITANDO URL</h4>
          </div>
          <div class="card-body">

            <div class="row">

              <div class="col-md-12">

                <input formControlName="id" id="id" type="hidden">
                <mat-form-field appearance="outline">

                  <mat-label>Título da url</mat-label>
                  <input matInput id="title" formControlName="title" minlength="5" maxlength="150" required />
                  <mat-hint *ngIf="urlForm.controls['title'].hasError('required') && urlForm.controls['title'].touched">
                    Digite o título da Url!
                  </mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Url</mat-label>
                  <input matInput id="url" formControlName="url" pattern="https?://.+" minlength="5" maxlength="150" placeholder="http://"
                    required />
                </mat-form-field>

                <button mat-flat-button class="btn btn-success" type="submit">
                  <i antIcon type="check"></i> gravar
                </button>
                <a [routerLink]="['/urls']" mat-flat-button class="btn btn-link">Cancelar</a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  </form>
